.footer {
  display: flex;
  justify-content: space-between;
  background-color: rgb(241, 241, 241);
  padding: 1rem;
  font-size: 0.9rem;
  width: 100%;
}

.footer a {
  margin: 0 1rem;
  text-decoration: none;
}

.footer a:link,
.footer a:visited {
  color: rgb(105, 105, 105);
}

.footer a:hover {
  text-decoration: underline;
}
